<%= form_with(model: property_list, local: true) do |form| %>
  <% if property_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_list.errors.count, "error") %> prohibited this property_list from being saved:</h2>

      <ul>
      <% property_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property %>
    <%= form.text_field :property %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark %>
  </div>

  <h2>Name of railway</h2>
  <%= form.fields_for :properties do |properties_form| %>

    <div class="field">
      <%= properties_form.label :name, "Name of railway line" %>
      <%= properties_form.text_field :line %>
    </div>

    <div class="field">
      <%= properties_form.label :station, "Station name" %>
      <%= properties_form.text_field :station_name %>
    </div>

    <div class="field">
      <%= properties_form.label :minute, "How many minutes walk" %>
      <%= properties_form.number_field :minute %>min/mins
    </div>
      <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
