<p id="notice"><%= notice %></p>

<h1>Property List</h1>

<%= link_to 'New Property', new_property_list_path %>

<br>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Rent</th>
      <th>Address</th>
      <th>Building age</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_lists.each do |property_list| %>
      <tr>
        <td><%= property_list.property %></td>
        <td><%= property_list.rent %></td>
        <td><%= property_list.address %></td>
        <td><%= property_list.age %></td>
        <td><%= property_list.remark %></td>
        <td><%= link_to 'Show', property_list %></td>
        <td><%= link_to 'Edit', edit_property_list_path(property_list) %></td>
        <td><%= link_to 'Destroy', property_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
